/*** Destination ***/
.destination img {
    transition: .5s;
}

.destination a:hover img {
    transform: scale(1.1);
}


/*** Package ***/
.package-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
}

.package-item img {
    transition: .5s;
}

.package-item:hover img {
    transform: scale(1.1);
}


/* home.component.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }
  
  .search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  form {
    display: flex;
    gap: 10px;
  }
  
  .search-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    width: 200px;
  }
  
  .search-input:focus {
    border-color: #007BFF;
  }
  
  .search-button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .search-button:hover {
    background-color: #0056b3;
  }
  
  .section-title {
    text-align: center;
    font-size: 2em;
    margin-top: 20px;
  }
  
  .packages-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
  }
  